# --- Data Pipeline ---
pdfplumber
PyMuPDF

# --- Vector DB ---
faiss-cpu

# --- RAG Pipeline ---
langchain
langchain-core
langchain-community
langchain-groq
langchain-google-genai

# --- Frontend ---
streamlit

# --- Utilities ---
python-dotenv